<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="51a343bd-1053-4cf3-8cbb-6b6719f577a2" wadlVersion="http://wadl.dev.java.net/2009/02" name="Synapsys" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="51a343bd-1053-4cf3-8cbb-6b6719f577a2fileName">Synapsys</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>${#Project#BaseURL}</con:endpoint>
    <con:endpoint>https://bdisqa-ait2.cloudapp.net</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="3f7a0ecf-34c8-4755-a3f4-2022227fb89e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="a515b593-a28a-481e-91bc-5372ec56b94b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0f109dfb-5536-44c1-927b-a068b05236b7">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
